
.main-heading {
  font-size: 28px;
  font-weight: 700;
  color: #f9f9f9;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  position: relative;
}

.main-heading::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin-top: 6px;
  background: linear-gradient(90deg, #0f4877, #160870);
  border-radius: 2px;
}

.qs-form-container{
  height : 60%;
  width : 80%;
  scroll-behavior: smooth;
}

.main-container{
  display: flex;
  gap: 20px;
  padding: 20px;
}